 AgribankDigital/AgribankDigital/obj/Debug/AgribankDigital.csproj.CoreCompileInputs.cache
AgribankDigital/AgribankDigital/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AgribankDigital/AgribankDigital/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AgribankDigital/.vs/
AgribankDigital/AgribankDigital/obj/Debug/AgribankDigital.csprojAssemblyReference.cache
AgribankDigital/UpgradeLog.htm