AgribankDigital/AgribankDigital/obj/Debug/
AgribankDigital/AgribankDigital/bin/Debug/
AgribankDigital/AgribankDigital/obj/Release/
AgribankDigital/AgribankDigital/bin/Release/
AgribankDigital/AgribankDigital/obj/X86/
AgribankDigital/AgribankDigital/bin/X86/
AgribankDigital/.vs/
AgribankDigital/BmpToBase64/obj/Release/BmpToBase64.csprojAssemblyReference.cache